.head {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  position: absolute;
  z-index: 1;
}
.inti {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.2s both;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}
.mid {
  background-color: #343a40;
  color: #ffffff;
}
.foot {
  text-align: center;
  border-top: 1px solid #212529;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
.kontak-hero{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 1rem;
}
span {
  color: #007bff;
}
.hero-img {
  border: 1px solid #212529;
  border-radius: 50%;
}
.icon-design{
  font-size: 90px;
}
.col-design{
  text-align: center;
}
.col-skill {
  margin-bottom: 1rem;
}
.img-box{
  height: 20vh;
  background-size: cover;
  background-color: #000000;
  border: 1px solid #ffffff;
}
.satu{
  background-image: url(../images/real.png);
}
.dua {
  background-image: url(../images/jjinterprice.png);
}
.tiga {
  background-image: url(../images/donad.png);
}
.empat {
  background-image: url(../images/foodshop.png);
}
.lima {
  background-image: url(../images/coffee.png);
}
.text-box{
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

}
.col-karya{
  margin-bottom: 1rem;
}
.kontak{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.kontak-box{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    height: 0;
  }
  100% {
    transform: scale(1);
    height: 100%;
  }
}